<div class="dropdown">
  <button class="btn btn-secondary mt-3 ms-3" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button"> <i class="fas fa-mountain"></i> Mineria</button></li>
    <li><button class="dropdown-item" type="button"> <i class="fas fa-seedling"></i> Recolección</button></li>
    <li><button class="dropdown-item" type="button"> <i class="fas fa-khanda"></i> Peleas</button></li>
    <li><button class="dropdown-item" type="button"> <i class="fas fa-street-view"></i> Captura de Bestias</button></li>
    <li><button class="dropdown-item" type="button"><i class="fas fa-dragon"></i> Bestias</button></li>
    <li><button class="dropdown-item" type="button"> <i class="fas fa-tshirt"></i> Equipo</button></li>
  </ul>
</div>
<p><i class="fas fa-dollar-sign"></i> <i class="fas fa-drumstick-bite"></i> <i class="fas fa-dna"></i> <i class="fas fa-egg"></i> <i class="fab fa-freebsd"></i>
  <i class="fab fa-grunt"></i> <i class="fas fa-paw"></i> <i class="fab fa-optin-monster"></i>


</p>